.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.154);
}
.modal {
    position: absolute;
    height: 15rem;
    width: 15rem;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}