/* .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
}
.modal {
    position: absolute;
    height: auto;
    width: 20rem;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding: 1rem;
}
input {
    margin-left: 1rem;
}
h2 {
    text-align: center;
} */

.containerModal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalAddNew {
    position: absolute;
    height: 45rem;
    width: 20rem;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.closeEdit:hover {
    color: #0dcaf0 !important;
    background-color: black !important;
}
