.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
}
.modal {
    position: absolute;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
}
input {
    margin-left: 1rem;
}