.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
}
.modal {
    position: absolute;
    height: 10rem;
    width: 20rem;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
}