.container {
  background-color: rgb(71, 71, 71);
  min-height: 100vh;
}

.contact-names {
  border: 4px solid #0dcaf0;
  border-radius: 7px;;
}

.contact-names:hover {
    border-color: #ffc107;
}

.containerContacts {
  min-height: fit-content;
}
