.list {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  list-style: none;
}
.list li{
  border: 1px solid #ccc;
}
ul.list{
  margin-block-start: 0;
  margin-block-end: 0;
}