.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(71, 71, 71);
}

.text-warning:hover {
    color: #0dcaf0 !important;
    text-decoration: underline;
}

.containerModal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalEdit {
    position: absolute;
    height: 45rem;
    width: 20rem;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.closeEdit:hover {
    color: #0dcaf0 !important;
    background-color: black !important;
}

